.meta/
logs/
plugins/
airflow.cfg
airflow.db
webserver_config.py
airflow-webserver.pid
.ipynb_checkpoints/
__pycache__/
.git/
content-pdi/js_datamart-configuration/config-pdi-local/
.env
content-pdi/file-mgmt/*
.venv/
.idea/
.git/
.github/